In [ ]:
print("this is a notebook")

In [2]:
spark.sql("SELECT 1").show(truncate=False)

NameError: name 'spark' is not defined